# Utilisation de l'encodage recommandé en suivant les recos SO.
#   Mysql doc       / https://dev.mysql.com/doc/refman/5.5/en/charset-unicode-utf8mb4.html
#   Stack overflox  / https://stackoverflow.com/a/3513812/12026487

[client]
default-character-set=utf8mb4

[mysql]
default-character-set=utf8mb4


[mysqld]
collation-server = utf8mb4_unicode_ci
init-connect='SET NAMES utf8mb4'
character-set-server = utf8mb4