html {
	min-height: 100vh;
}
body {	
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	color: #fbfbfb;
	font-family: Verdana;
	font-weight: bold;
	min-height: 100vh;
	padding: 2em 4em;
}

